# Dependencias
node_modules/
dist/
www/

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# IGNORAR TODO LO TEMPORAL DE ANDROID (Ultra estricto)
android/                                                                      
